#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.7rem;
}

.inputField {
  width: 100%;
  padding: 0.8rem;
  border: 0.1rem solid #242424;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
 align-self: flex-start;
  padding-left: 1.3rem;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}

.price {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}